/*Fonts*********************/
@font-face {
  font-family: FjallaOne;
  src: url(fonts/Fjalla_One/FjallaOne-Regular.ttf);

}

@font-face {
  font-family: Merriweather;
  src: url(fonts/Merriweather/Merriweather-Regular.ttf);

}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat/Montserrat-SemiBold.ttf);

}

/*Fonts***********************/
body{
  display: flex;
    justify-content: center;
    background: repeating-linear-gradient(
  to right,
  #F5F5F5,
  #F5F5F5 10px,
  #f2f2f2 10px,
  #f2f2f2 20px
);
}

#container{
  position: relative;
  top: 25px;
  width: 800px;

}

#chicagologo {
  display: flex;
  justify-content: center;

}

#chicagologo img{
  width: 275px;
  height: 75px;

}

#bestplaces{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  color: #00ace6;
  font-family: FjallaOne;
  font-size: 50px;

}

#content-box{
  background:#fff;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px lightgrey;
}

#image1{
  overflow: hidden;

}

#image1 figure{
  position: relative;
  width: 500%;
  margin:0;
  left: 0;
  animation: 20s image1 infinite;

}

#image1 figure img{
  width: 20%;
  float: left;

}

@keyframes image1 {
  0% {
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }

}

#milleniumpark{
  display: flex;
  justify-content: center;
  font-family: Montserrat;
}

#navypier{
  display: flex;
  justify-content: center;
  font-family: Montserrat;
}

#willistower{
  display: flex;
  justify-content: center;
  font-family: Montserrat;

}

#buckinghamfountain{
  display: flex;
  justify-content: center;
  font-family: Montserrat;

}

#artinstitute{
  display: flex;
  justify-content: center;
  font-family: Montserrat;

}

p{
  font-family: Merriweather;
}


ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  list-style-type: none;
  padding: 0px;
  font-family: Merriweather;
  font-size: 14px;

}

li{
  margin: 10px;

}

a{
  position: relative;
  text-decoration: none;
  color: #e60000;
  padding: 5px;

}

a:hover{
  color: black;
  background: white;

}
